body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;

}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.myEarth{
  width: 50px;
  height: 50px;
  margin-left: 0px;
  display: flex;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px;
  gap: 20px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #888;
}

.location a {
  color: #888;
  text-decoration: none;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

.dates {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}